form {
  margin-top: 50px;
  background-color: #EEE;
  border: 1px solid #777;
  border-radius: 8px;
  box-shadow: 5px 5px 10px -5px #777;
  width: 50%;
  max-width: 400px;
}

#chooseForm {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px 8px 0 0;
  background-color: #CCC;
}
#chooseForm span {
  width: 50%;
  padding: 20px;
  text-align: center;
}

#chooseForm span.selected {
  border-radius: 8px 8px 0 0;
  background-color: #EEE;
}
#chooseForm span.selected:first-child {
  border-right: 1px solid #777;
}
#chooseForm span.selected:last-child {
  border-left: 1px solid #777;
}

#chooseForm span:not(.selected) {
  border-bottom: 1px solid #777;
}
#chooseForm:has(span:not(.selected):hover) {
  cursor: pointer;
  background-color: #DDD;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fields p {
  padding: 0 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.fields input {
  padding: 10px;
}

form input[type="submit"] {
  margin: 20px;
  padding: 10px;
  background-color: #DDD;
  border: 1px solid #222;
  border-radius: 4px;
}
form input[type="submit"]:hover {
  background-color: #EEE;
  cursor: pointer;
}