{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>MultiAPI - Anime</title>
  <link rel="stylesheet" href="{% static "lists.css" %}">
{% endblock head %}

{% block content %}
  <h1>Tous les personnages</h1>
  <div id="marvel" class="cardList">
  {% for character in characters %}
    <div class="card">
      <span class="title">{{ character.name }}</span>
      <img src="{{ character.img }}" alt="">
      {% if user.is_authenticated %}
      <div class="infos">
          {%if character.isLiked%}
          <i class="fa-solid fa-heart" onclick="unlike('{{character.id}}', 'marvel', '{{ csrf_token }}')"></i>
          {% else %}
          <i class="fa-regular fa-heart" onclick="like( '{{character.id}}', 'marvel', '{{ csrf_token }}')"></i>
          {% endif %}
      </div>
      {% endif %}
    </div>
  {% endfor %}
  </div>
  <script>
    document.body.onload = () => {
      console.log("Coucou")
      fetch("https://gateway.marvel.com/v1/public/characters?ts=1&apikey=eb79c3a5b07c45555c5af6c1ca4be64e&hash=5d78ad0af67862c3371c9a88a590eba6").then(res => {
        res.json().then(chars => {
          console.log(chars)
        })
      })
    }
  </script>
{% endblock content %}
